node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
.temp/
.cache/
.vite/
coverage/
*.tsbuildinfo

webpack-stats.json

*.log

.env
.env.*
!.env.example

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

.prettiercache
eslintcache
